.logo a{

}
.navbar{
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.navbar .navbar_item ul{
  flex-wrap: wrap;
  justify-content: center;
  line-height: 24px;
  margin-top: 12px;

}
.banner_content::before{
  height: 400px;
}
.diff_service{
  flex-direction: column;
  width: 50%;
  /* align-items: center;
  justify-content: center; */
  margin: auto;
}
.ourteam_wrapper .team{
  flex-direction: column;
}
.ourteam_wrapper .team_member img{
  height: 100px;
}
.about,.service,.contact,.ourteam{
  margin: 54% 0%;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 50px;
}